@charset "UTF-8";
@import "base.css";
@import "../setting";
/* 設定 */

/* test
/*-----------------------------------------------------------------------*/
.testArea {
  position: fixed;
  top: 0;
  right: 50px;
  width: 300px;
  z-index: 100;
}
#test {
  position: relative;
  left: 50px;
  width: 50px;
  left: 100px;
}

/* All
/*-----------------------------------------------------------------------*/
#all {
  width: 100%;
  min-width: 900px;
  margin: 0 auto;
  font-family:'Open Sans';
}

/* header
/*-----------------------------------------------------------------------*/
#header {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px $RightWidth 30px $zoneWidth;
  h1 {
    float: left;
    
    font-size: 14px;
    letter-spacing: .3em;
  }
  .explain {
    float: right;
    ul {
      li {
        float: left;
        margin-right: 10px;
        text-align: right;
        &:last-child {
          margin-right: 0;
        }
        p {
          display: inline-block;
          font-size: 12px;
        }
        .box {
          width: 10px;
          height: 10px;
          margin-right: 3px;
          &.P9A{
            background: map-get( $color , redPink );
          }
          &.P9B{
            background: map-get( $color , orange );
          }
          &.P1A{
            background: map-get( $color , green );
          }
          &.P1B{
            background: map-get( $color , blue );
          }
        }
      }
    }
  }
}

/* nav
/*-----------------------------------------------------------------------*/
#nav {
  position: relative;
  z-index: 50;
}

#prev,
#next {
  position: absolute;
  top: -1px;
  display: block;
  text-align: center;
  cursor: pointer;
  transition: all , .2s;
  p {
    color: darken( map-get( $color , base ) , 20% );
    font-size: 30px;    
  }
  &:hover {
    p {
      color: darken( map-get( $color , base ) , 10% );
    }
  }
}

#prev {
  display: none;
  width: $zoneWidth;
  left: 1%;
  &:hover {
    left: 0%;
  }
}

#next {
  width: $RightWidth;
  right: 0px;
  &:hover {
    right: -10px;
  }
}

/* calendar
/*--------------------------------------------------*/

#calendar {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 $RightWidth 0 $zoneWidth;
}
  
  #days,
  #times {
    box-sizing: border-box;
    border: 5px solid #F1EEE8;
    & > ul {
      width: -webkit-calc(100% * 5);
      width: calc(100% * 5);
      border-spacing: 0;
      & > li {
        float: left;
        box-sizing: border-box;
        width: calc(100% / #{$weekTerm});
      }
    }
  }

  /* days
  /*--------------------------------------------------*/
  #days {
    position: relative;
    height: 40px;
    background: map-get( $color , base );
    overflow: hidden;
    z-index: 1;
    ul {
      position: absolute;
      li {
        padding-top: 10px;
        p {
          text-align: center;
          user-select: none;
          .month {
            margin-right: 3px;
            // font-size: 14px;
          }
          .date {
            margin-right: 5px;
          }
          .day {
            font-size: 10px;
            opacity: .8;
          }
        }
      }
    }
  }

  #days.fixed {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: calc( 100% - ( #{$RightWidth} + #{$zoneWidth} ) );
    p {
      position: relative;
      top: -5px;
    }
  }
      
  /* times
  /*--------------------------------------------------*/
  #times {
    position: relative;
    height: calc( #{$hourHeight} * #{$timesTotal} );
    overflow: hidden;
    #timesList {
      position: absolute;
      left: 0;
      &  > li.date {
        box-sizing: border-box;
        border-right: 1px solid #E9E3CD;
        &:nth-child(7n) {
          border-right: none;
        }
        &:last-child {
          border-right: 5px solid #E9E3CD;
        }
        .timeArea ul.time {
          position: relative;
          display: block;
          height: $hourHeight;
          li.place {
            position: relative;
            float: left;
            width: calc(100% / 4 - 2px);
            height: 100%;
            margin: 0 1px;
            box-sizing: border-box;
            border-bottom: 1px dashed #E9E3CD;
            z-index: 0;
          }
        }
      }
    }    
    & > ul > li.today {
      background: #FFFAF7;
    }
  }

  #times.fixed {
    top: $hourHeight;
  }
  
  // ▼イニシャル
  #timesList {
    text-align: center;
    .initial {
      display: none;
    }
    .timeArea .place[data-first="true"] {
      .initial {
        display: inline-block;
        color: #fff;
        font-size: 12px;
        z-index: 10;
      }
    }    
  }
  

  /* time zone
  /*--------------------------------------------------*/
  #timeZone {
    float: left;
    width: $zoneWidth;
    margin-left: - $zoneWidth;
    margin-top: calc( #{$hourHeight} - 5px );
    height: calc( #{$hourHeight} * #{$timesTotal} );
    overflow: hidden;
  }
  
    #timeZone li.zone {
      position: relative;
      height: $hourHeight;
      text-align: right;
    }

      #timeZone li.zone p {
        position: absolute;
        top: 0;
        right: 10px;
        width: 100%;
        color: map-get($color , brightPale);
        font-size: 12px;
        user-select: none;
      }

      #timeZone li.zone:first-child p {
        top: 7px;
      }
      
      #timeZone li.zone:nth-child(even) p {
        font-size: 8px;
        color: map-get($color , lightGray)
      }

  #timeZone.fixed {
    top: $hourHeight;
  }
  


