@charset "UTF-8";
@import "base.css";
@import "../setting";
/* 設定 */

/* test
/*-----------------------------------------------------------------------*/
.testArea {
  display: none;
  position: relative;
  top: 0;
  right: 50px;
  width: 300px;
  z-index: 100;
}
#test {
  position: relative;
  left: 50px;
  width: 50px;
  left: 100px;
}

/* All
/*-----------------------------------------------------------------------*/
#all {
  width: 100%;
  min-width: 900px;
  margin: 0 auto;
  font-family:'Open Sans';
}

/* header
/*-----------------------------------------------------------------------*/
#header {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px $RightWidth 30px $zoneWidth;
  user-select: none;
  z-index: 30;
  h1 {
    float: left;
    font-size: 14px;
    letter-spacing: .3em;
  }
  .items {
    float: right;
  }
}

#header .explain {
  float: left;
  position: relative;
  ul {
    li {
      float: left;
      margin-right: 10px;
      text-align: right;
      &:last-child {
        margin-right: 0;
      }
      p {
        display: inline-block;
        font-size: 12px;
      }
      .box {
        width: 10px;
        height: 10px;
        margin-right: 3px;
        &.P9A{
          background: map-get( $color , redPink );
        }
        &.P9B{
          background: map-get( $color , orange );
        }
        &.P1A{
          background: map-get( $color , green );
        }
        &.P1B{
          background: map-get( $color , blue );
        }
      }
    }
  }
}

#nav {
  float: left;
  width: 50px;
  padding-left: 30px;
  z-index: 50;
  #prev,
  #next {
    box-sizing: border-box;
    width: 25px;
    text-align: center;
    background: lighten( map-get( $color , brightPale ) , 10% );
    cursor: pointer;
    &.still {
      background: lighten( map-get( $color , lightGray ) , 15% );
      pointer-events : none;
    }
    p {
      position: relative;
      color: #fff;
      font-size: 16px;
      transition: all , .15s;
    }
    &:hover {
      background: map-get( $color , brightPale );
    }
  }
  #prev {
    float: left;
    border-right: 1px solid #fff;
    border-radius:  5px 0 0 5px;
    p {
      right: 5px;

    }
    &:hover p {
      right: 10px;
    }
  }
  #next {
    float: right;
    border-left: 1px solid #fff;
    border-radius: 0 5px 5px 0;
    p {
      left: 5px;
    }
    &:hover p {
      left: 10px;
    }
  }
}


/* calendar
/*--------------------------------------------------*/
#calendar {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  padding: 0 $RightWidth 0 $zoneWidth;
}

  #days,
  #times {
    box-sizing: border-box;
    width: 100%;
    // border: 5px solid map-get( $color , base );
    & > ul {
      width: calc(99.9% * #{$weekNum });
      border-spacing: 0;
      & > li {
        float: left;
        box-sizing: border-box;
        width: calc(99.9% / #{$weekTerm});
      }
    }
  }

  /* days
  /*--------------------------------------------------*/
  #days {
    position: relative;
    height: $daysHeight;
    background: map-get( $color , base );
    overflow: hidden;
    z-index: 1;
    ul {
      position: absolute;
      li {
        padding-top: 10px;
        p {
          text-align: center;
          user-select: none;
          .month {
            margin-right: 3px;
          }
          .date {
            margin-right: 5px;
          }
          .day {
            font-size: 10px;
            opacity: .8;
          }
        }
      }
    }
  }

  #days.fixed {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: calc( 100% - ( #{$RightWidth} + #{$zoneWidth} ) );
    p {
      position: relative;
      top: -5px;
    }
  }

  /* times
  /*--------------------------------------------------*/
  #times {
    box-sizing: border-box;
    position: relative;
    height: calc( #{$hourHeight} * #{$timesTotal} );
    border-left: 5px solid map-get( $color , base );
    border-right: 5px solid map-get( $color , base );
    border-bottom: 5px solid map-get( $color , base );
    overflow: hidden;
    #timesList {
      position: absolute;
      left: 0;
      &  > li.date {
        box-sizing: border-box;
        border-right: 1px solid #E9E3CD;
        &:nth-child(7n) {
          border-right: none;
        }
        &:last-child {
        }
        .timeArea ul.time {
          position: relative;
          display: block;
          li.place {
            box-sizing: border-box;
            position: relative;
            float: left;
            width: calc(100% / 4);
            height: $hourHeight;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            border-bottom: 1px dashed #E9E3CD;
            z-index: 0;
          }
        }
      }
    }
  }

  #times #timesList > li.date.today {
    background: map-get( $color , today );
    .timeArea ul.time li.place {
      border-left: 1px solid map-get( $color , today );
      border-right: 1px solid map-get( $color , today );
    }
  }

  #times.fixed {
    top: $daysHeight;
  }

  // ▼イニシャル
  #timesList {
    text-align: center;
    .initial {
      display: none;
    }
    .timeArea .place[data-first="true"] {
      padding-top: 2px;
      border-top: 2px solid #fff;
      border-radius: 5px 5px 0 0;
      .initial {
        display: inline-block;
        padding-top: 8px;
        color: #fff;
        font-size: 12px;
        z-index: 10;
      }
    }
  }


  /* time zone
  /*--------------------------------------------------*/
  #timeZone {
    float: left;
    width: $zoneWidth;
    margin-left: - $zoneWidth;
    margin-top: calc( #{$daysHeight} - 6px );
    // height: calc( #{$hourHeight} * #{$timesTotal} );
    overflow: hidden;
  }

    #timeZone li.zone {
      position: relative;
      height: calc( #{$hourHeight});
      text-align: right;
    }

      #timeZone li.zone p {
        position: absolute;
        top: 0;
        right: 10px;
        width: 100%;
        color: map-get($color , brightPale);
        font-size: 12px;
        user-select: none;
      }

      #timeZone li.zone:first-child p {
        // top: 7px;
      }

      #timeZone li.zone:nth-child(even) p {
        font-size: 8px;
        color: map-get($color , lightGray)
      }

  #timeZone.fixed {
    top: $hourHeight;
  }



