@charset "UTF-8";
@import "common/layout.css";
@import "card.css";
@import "setting";
/* 設定 */

/* ReserveColor
/*-----------------------------------------------------------------------*/
#times {
  .timeArea {
    .time {
      .place {
        cursor: pointer;
        &:hover {
          background: #fef6e5;
        }
        &.current {
          background: #fdedcb;
        }
      }
      .P9A {
        background: map-get($color, red);
        &:hover {
          background: lighten( map-get($color, red) , 5% );
        }
      }
      .P9B {
        background: map-get($color, orange);
        &:hover {
          background: lighten( map-get($color, orange) , 5% );
        }
      }
      .P1A {
        background: map-get($color, green);
        &:hover {
          background: lighten( map-get($color, green) , 5% );
        }
      }
      .P1B {
        background: map-get($color, blue);
        &:hover {
          background: lighten( map-get($color, blue) , 5% );
        }
      }
      .reserved {
        
        &:hover {
          // background: #EB8CAD;
        }
      }
    }
  }
}