@charset "UTF-8";
@import "common/layout.css";
@import "card.css";
@import "setting";
/* 設定 */

/* ReserveColor
/*-----------------------------------------------------------------------*/
#times {
  .timeArea {
    .time {
      // .place {
      //   position: relative;
      //   z-index: 2;
      //   overflow: hidden;
      //   cursor: pointer;
      //   transition: all .2s;
      // }
      // .place:hover {
      //   color: #fef6e5;
      // }
      // .place::after {
      //   position: absolute;
      //   z-index: -1;
      //   display: block;
      //   content: "";
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   transition: all .2s;
      //   -webkit-transform: scale(.5);
      //   transform: scale(.5);
      // }
      // .place:hover::after {
      //   background: #fef6e5;
      //   -webkit-transform: scale(1);
      //   transform: scale(1);
      // }
      .place {
        cursor: pointer;
        transition: all .3s;
        &:hover {
          background: #fef6e5;
        }
        &.current {
          &:before {
            display: block;
            height: 100%;
            content: "";
            background: rgba(#fdedcb , .6);
          }
        }
      }
      .P9A {
        background: map-get($color, redPink);
        &:hover {
          background: lighten( map-get($color, redPink) , 5% );
        }
      }
      .P9B {
        background: map-get($color, orange);
        &:hover {
          background: lighten( map-get($color, orange) , 5% );
        }
      }
      .P1A {
        background: map-get($color, green);
        &:hover {
          background: lighten( map-get($color, green) , 5% );
        }
      }
      .P1B {
        background: map-get($color, blue);
        &:hover {
          background: lighten( map-get($color, blue) , 5% );
        }
      }
      .reserved {
        
        &:hover {
          // background: #EB8CAD;
        }
      }
    }
  }
}