@charset "UTF-8";
@import "common/layout.css";
@import "card.css";
@import "setting";
/* 設定 */

/* ReserveColor
/*-----------------------------------------------------------------------*/
#times {
  .timeArea {
    .time {
      .place {
        cursor: pointer;
        &.timebar {
          border-top: 1px solid darken(map-get($color, base), 20%);
        }
        &.select {
          border-top: 3px solid darken(map-get($color, base) , 8%);
        }
        &.current {
          &:before {
            display: block;
            height: 100%;
            content: "";
          }
        }
        &[data-place="P9A"] {
          &:hover {
            border-top: 2px solid map-get($color, redPink);
            background: lighten( map-get($color, redPink) , 10% );
          }
          &.current {
            &:before {
              background: darken( map-get( $color , redPink ) , 12% );
            }
          }
          &.pre {
            background: lighten( map-get($color, redPink) , 20% );
          }
        }
        &[data-place="P9B"] {
          &:hover {
            border-top: 2px solid map-get($color, orange);
            background: lighten( map-get($color, orange) , 10% );
          }
          &.current {
            &:before {
              background: darken( map-get( $color , orange ) , 12% );
            }
          }
          &.pre {
            background: lighten( map-get($color, orange) , 20% );
          }
        }
        &[data-place="P1A"] {
          &:hover {
            border-top: 2px solid map-get($color, green);
            background: lighten( map-get($color, green) , 10% );
          }
          &.current {
            &:before {
              background: darken( map-get( $color , green ) , 12% );
            }
          }
          &.pre {
            background: lighten( map-get($color, green) , 20% );
          }
        }
        &[data-place="P1B"] {
          &:hover {
            border-top: 2px solid map-get($color, blue);
            background: lighten( map-get($color, blue) , 10% );
          }
          &.current {
            &:before {
              background: darken( map-get( $color , blue ) , 12% );
            }
          }
          &.pre {
            background: lighten( map-get($color, blue) , 20% );
          }
        }
      }

      .P9A {
        background: map-get($color, redPink);
        &:hover {
          background: lighten( map-get($color, redPink) , 5% );
        }
        &.current {
          &:before {
            background: darken( map-get( $color , redPink ) , 6% );
          }
        }
      }
      .P9B {
        background: map-get($color, orange);
        &:hover {
          background: lighten( map-get($color, orange) , 5% );
        }
        &.current {
          &:before {
            background: darken( map-get( $color , orange ) , 6% );
          }
        }
      }
      .P1A {
        background: map-get($color, green);
        &:hover {
          background: lighten( map-get($color, green) , 5% );
        }
        &.current {
          &:before {
            background: darken( map-get( $color , green ) , 6% );
          }
        }
      }
      .P1B {
        background: map-get($color, blue);
        &:hover {
          background: lighten( map-get($color, blue) , 5% );
        }
        &.current {
          &:before {
            background: darken( map-get( $color , blue ) , 6% );
          }
        }
      }
      .reserved {
        &:hover {
        }
      }
    }
  }
}